
<div class="background">
    <div class="container-fluid d-flex" style="justify-content: center; align-items: center;">
        <div class="card card-d" style="margin-top: 15vh; width: 50vh; height: 70vh;">
            <div class="container mt-3">
                <div class="d-flex mt-3" style="justify-content: center;">
                    <div>
                        <img src="assets/icon-for-a-zoo.png" alt="" style="margin-left: 6vh; height: 8rem; align-items: center;justify-content: center;display: flex;">
                        <h2>INICIO DE SESION</h2>
                    </div>
                </div>
                <div class="my-3 p-3">
                    <div class="form-floating outline outline-white container">
                        <input type="email" [(ngModel)]="correo" class="form-control form-control-lg" id="correo" name="correo"
                               value="" required placeholder="Ingresa con tu correo electrónico">
                        <label for="email">Correo Electrónico</label>
                    </div>
                </div>
                <div class="my-3 p-3">
                    <div class="form-floating outline outline-white container">
                        <input type="password" [(ngModel)]="clave" class="form-control form-control-lg" id="clave" name="clave"
                               value="" required placeholder="Ingresa con tu correo electrónico">
                        <label for="email">Contraseña</label>
                    </div>
                </div>
                <div class="d-flex" style="justify-content: center;">
                    <button (click)="validarUsuario()" class="">INICIAR</button>
                </div>
                <div class="d-flex mt-3" style="justify-content: center;">
                    <a href="login/crearCuenta">¿Aun no tines Cuenta?</a>
                </div>
                
            </div>
        </div>
        
    </div>
    </div>
        
        
        
        
        