<h1>Ventas Taquillas</h1>
<div class="card" style="border-radius: 10px;">
    <div class="d-flex p-3" style="justify-content:end;">
        <button (click)="postVentas()" class="">Cargar Venta Pendiente</button>
    </div>
    <div class="p-3">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">id_cliente</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio_Total</th>
                </tr>
            </thead>
            <tbody *ngIf="data" class="table-group-divider">
                <tr *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p } let ix=index ">
                    <th scope="row">{{item.id_cliente}}</th>
                    <td>{{item.email}}</td>
                    <td>{{item.celular}}</td>
                    <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{item.precio_total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="card mt-3">
        <h1 class="p-3">Graficas de las Ventas Realizadas</h1>
        <div class="p-3" style="width: 100%; height: 100%;">
            <canvas id="pieChart"></canvas>
        </div>
    </div>